body {
    background: center linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/img/background.jpg');
    background-size: cover;
    height: 100vh;
}

.wrapper {
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;

}


.title {
    color: #FFFFFF;

    padding: 36px 80px 24px 80px;
    font-family: 'Exo 2', sans-serif;

    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.product-cards {
    display: flex;
    justify-content: center;
}

.product-cards:first-child {
    margin-left: -80px;
}

.product-card {
    position: relative;
    width: 320px;
    height: 480px;
    margin: 0 0 14px 80px;
    background-color: #F2F2F2;
    overflow: hidden;

    border: 4px solid #1698D9;
    border-radius: 12px;
    cursor: pointer;

    clip-path: polygon(45.5px 0, 100% 0, 100% 100%, 0 100%, 0 45.5px);
}


.product-card:after {
    content: '';
    position: absolute;
    left: -22%;
    top: -11%;
    transform: rotate(-45deg);

    border: 4px solid #1698D9;

    width: 88px;
    height: 88px;
}

.product-card__inner {
    padding: 21px 64px 30px 51px;
    margin-bottom: 300px;
}

.product-card__title-intro {
    font-size: 15px;
    margin-bottom: 3px;
    line-height: 19px;

    font-weight: 400;
    color: #666666;
}

.product-card__title-intro__def {
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 19px;

    font-weight: 400;
    color: #666666;
}

.product-card__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

.product-card__title-subtitle {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.product-card__description p {
    margin: 0 auto;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #666666;
}

.product-card__image {
    right: 0;
    top: 208px;
    position: absolute;
}

.product-card__weight {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    font-weight: 400;
    font-size: 40px;
    line-height: 22px;
    color: #FFFFFF;

    bottom: 16px;
    right: 16px;

    width: 80px;
    height: 80px;

    background-color: #1698D9;
    border-radius: 100%;
}

.product-card__weight.active {
    background-color: #D91667;
}

.product-card__weight p {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5px 0 0 0;
    color: #F2F2F2;

    font-size: 21px;
    line-height: 22px;
}

.product-card__footer {
    margin-left: 80px;
    text-align: center;
    font-size: 13px;

    color: #FFFFFF;
}

.product-card__footer-buy__button {
    cursor: pointer;
    margin-left: 4px;
    border-bottom: 1px dashed #1698D9;
    font-size: 13px;

    color: #1698D9;
}

.active {
    border: 4px solid #D91667;
}

.active::after {
    border: 4px solid #D91667;
}

.product-card__button:active {
    transform: translateY(1px);
}

.product-card__title-intro.active {
    color: #D91667;
    border: none;
}

.product-card:active {
    transform: translateY(1px);
}

.disable {
    display: none;
}

.disabled:disabled {
    display: none;
}

@media (max-width: 1150px) {
    .wrapper {
        max-width: 1150px;
    }

    .product-card {
        margin: 0 0 14px 70px;
        width: 270px;
        height: 420px;
    }

    .product-cards:first-child {
        margin-left: -70px;
    }

    .product-card__inner {
        padding: 10px 40px 20px 40px;
    }

    .product-card:after {
        content: '';
        position: absolute;
        left: -27.5%;
        top: -12%;
        right: 10%;
        transform: rotate(-45deg);

        border: 4px solid #1698D9;

        width: 88px;
        height: 88px;
    }

    .product-card__title-intro {
        font-size: 11px;
    }

    .product-card__title {
        line-height: 46px;
        font-size: 40px;
    }

    .product-card__title-subtitle {
        font-size: 20px;
        line-height: 18px;
    }

    .product-card__weight {
        font-size: 28px;
        line-height: 14px;

        width: 65px;
        height: 65px;
    }

    .product-card__weight p {
        font-size: 14px;
        line-height: 12px;
    }

    .product-card__description p {
        font-size: 12px;
        line-height: 14px;
    }

    .product-card__image {
        width: 120%;
        right: -30px;
        top: 170px;
        position: absolute;
    }

    .active {
        border: 4px solid #D91667;
    }

    .active::after {
        border: 4px solid #D91667;
    }

    .product-card__footer div {
        font-size: 11px;
    }

    .product-card__footer {
        margin-left: 70px;
    }

    .product-card__title-intro__def {
        font-size: 11px;
    }

    .product-card__title-intro {
        line-height: 19px;
        margin-bottom: 5px;
    }
}

@media (max-width: 960px) {
    .wrapper {
        max-width: 800px;
    }

    .title {
        padding: 26px 40px 26px 40px;
        font-size: 34px;
        line-height: 20px;
    }

    .product-cards {
        display: flex;
        flex-flow: row-reverse wrap-reverse;
    }

    .product-card {
        margin: 0 0 14px 50px;
        width: 240px;
        height: 380px;
    }

    .product-cards:first-child {
        margin-left: -50px;
    }

    .product-card__inner {
        padding: 15px 30px 20px 40px;
    }

    .product-card:after {
        content: '';
        position: absolute;
        left: -30.5%;
        top: -13.4%;
        right: 10%;
        transform: rotate(-45deg);

        border: 4px solid #1698D9;

        width: 88px;
        height: 88px;
    }

    .product-card__title-intro {
        font-size: 10px;
    }

    .product-card__title {
        line-height: 36px;
        font-size: 34px;
    }

    .product-card__title-subtitle {
        font-size: 16px;
        line-height: 10px;
    }

    .product-card__weight {
        font-size: 22px;
        line-height: 12px;

        width: 55px;
        height: 55px;
    }

    .product-card__weight p {
        font-size: 14px;
        line-height: 12px;
    }

    .product-card__description p {
        font-size: 10px;
        line-height: 10px;
    }

    .product-card__image {
        width: 120%;
        left: -30px;
        top: 150px;
        position: absolute;
    }

    .active {
        border: 4px solid #D91667;
    }

    .active::after {
        border: 4px solid #D91667;
    }

    .product-card__footer-buy {
        margin-bottom: 10px;
    }

    .product-card__footer div,
    .product-card__footer-buy__button {
        font-size: 10px;
    }


    .product-card__footer {
        margin-left: 50px;
    }

}

@media (max-width: 550px) {
    .wrapper {
        max-width: 550px;
    }

    .title {
        padding: 26px 40px 26px 40px;
        font-size: 29px;
        line-height: 20px;
    }

    .product-cards {
        display: flex;
        flex-flow: row-reverse wrap-reverse;
    }

    .product-card {
        margin: 0 0 14px 60px;
        width: 200px;
        height: 320px;
    }

    .product-cards:first-child {
        margin-left: -45px;
    }

    .product-card__inner {
        padding: 15px 30px 20px 40px;
    }

    .product-card:after {
        content: '';
        position: absolute;
        left: -38.6%;
        top: -15.2%;
        right: 10%;
        transform: rotate(-45deg);

        border: 4px solid #1698D9;

        width: 88px;
        height: 88px;
    }

    .product-card__title-intro {
        font-size: 10px;
    }

    .product-card__title {
        line-height: 36px;
        font-size: 28px;
    }

    .product-card__title-intro__def {
        font-size: 9px;
    }

    .product-card__title-subtitle {
        font-size: 14px;
        line-height: 8px;
    }

    .product-card__weight {
        font-size: 22px;
        line-height: 12px;

        width: 55px;
        height: 55px;
    }

    .product-card__weight p {
        font-size: 14px;
        line-height: 12px;
    }

    .product-card__description p {
        font-size: 10px;
        line-height: 10px;
    }

    .product-card__image {
        width: 120%;
        left: -30px;
        top: 150px;
        position: absolute;
    }

    .active {
        border: 4px solid #D91667;
    }

    .active::after {
        border: 4px solid #D91667;
    }

    .product-card__footer-buy {
        margin-bottom: 10px;
    }

    .product-card__footer div {
        font-size: 8px;
    }

    .product-card__footer {
        margin-left: 50px;
    }

}


@media (max-width: 490px) {
    .title {
        padding: 26px 40px 26px 40px;
        font-size: 23px;
        line-height: 20px;
    }

    .product-card__footer-buy {
        margin-bottom: 20px;
    }
}